<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="./phpunit-bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <php>
    <includePath>./src</includePath>
    <includePath>./api</includePath>
  </php>
  <testsuites>
    <testsuite name="Tests">
      <directory suffix="Test.php" phpVersion="7.0" phpVersionOperator="&gt;=">./tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
      <directory suffix=".php">./api</directory>
    </include>
  </source>
</phpunit>
